/*Create login css*/
#create_login{
    text-align: center;
}
button{
    width: 100px;
    color:black;
    padding: 15px;
    margin: 10px 0px;
    border-style: solid black;
    cursor: pointer;
}
form{
    border: 3px solid black;
}
input[type=text], input[type=password]{
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid black;
    box-sizing: border-box;
}
button:hover{
    opacity: 0.7;
}
.container{
    padding: 25px;
    background-color: white;
}