.header{
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 20px;
}
.searchbar {
    overflow: hidden;
    background-color:#1abc9c;
    padding: 1px;
  }
  
  /* Style the links inside the navigation bar */
  .searchbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .searchbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the search box inside the navigation bar */
  .searchbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .searchbar .searchbar, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .searchbar input[type=text] {
      border: 1px solid #ccc;
    }
  }
/*Image box*/
.image_container{
    width: auto;
    border-style: 1px solid black;
    border: solid black;
    padding: 50px;
}
.column{
    float: left;
    width: 33.33%;
    padding: 5px;
}
.row::after{
    content: "";
    clear:both;
    display: table;
}
img.resize{
    width: 5px;
    height: 5px;
    width: 5%;
}